* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
:root {
    --prim-color: #FD2D01;
    --second-color: #FFD7D7;
    --ter-color: #4E5166;
}

#app {
    min-height: 100vh;
    height: 100%;
    background-image: url(../assets/image-from-rawpixel-id-2210775-jpeg.jpg);
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: var(--ter-color);
    min-height: 100vh;
}

h1 {
    font-size: 3.5rem;
    color: var(--prim-color);
    margin: 25px auto;
    text-shadow: 3px 3px 2px var(--second-color);
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.child_display {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fa-solid {
    cursor: pointer;
    margin: 0 10px;
    color: var(--prim-color);
}

.custom_items {
    width: 200px;
    height: 40px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: var(--ter-color);
    background: white;
    border: 1px solid var(--ter-color);
    box-shadow: 2px 2px 0 var(--ter-color), -2px -2px 0 var(--ter-color), -2px 2px 0 var(--ter-color), 2px -2px 0 var(--ter-color);
    transition: 200ms ease-in-out;
}

.hover_effect:hover,
.hover_effect:focus {
    box-shadow: 20px 5px 0 var(--prim-color), -20px -5px 0 var(--second-color);
}

.drop-shadow:hover {
    box-shadow: 20px 5px 0 var(--prim-color), -20px -5px 0 var(--second-color);
}

textarea {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 99%;
    resize: none;
}

.import_file {
    font-size: 1.25em;
    font-weight: 700;
    background-color: white;
    color: var(--prim-color);
    padding-right: 5px;
    border: solid 2px var(--prim-color);
    display: inline-block;
    transition: 200ms ease-in-out;
}

.import_file:hover {
    cursor: pointer;
    color: var(--ter-color);
    border: solid 2px var(--ter-color);
    box-shadow: -3px -3px var(--second-color), 3px 3px var(--prim-color);
}

.setting_items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header,
.flex_row {
    padding: 0px 15px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.text_display {
    padding: 15px;
    text-align: justify;
}